.navbar-container {
  z-index: 1020;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 30px;
  top: 50px;

  .nav-menus {
    scale: 0;
    opacity: 0;
    transition: 0.2s;
    background-color: var(--bg);
    padding: 5px;
    padding-left: 30px;
    border-radius: 10px;

    &.active {
      scale: 1;
      opacity: 1;
      cursor: pointer;
    }
    ul {
      display: flex;

      li {
        margin-right: 30px;
        color: var(--text);
        font-size: 1.2rem;
      }
    }

    .one {
    }
    .two {
    }
    .three {
    }
    .four {
    }
  }

  .logo-nav {
    z-index: 1000;
    color: var(--text);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }
  }

  .lines {
    display: flex;
    flex-direction: column;
    margin: 0px 3px;

    span {
      margin: -10px auto;
      font-size: 1.5rem;
    }
  }

  .first {
    animation: bright 5s ease-in-out infinite;

    @keyframes bright {
      0% {
        filter: brightness(200%);
        scale: 1;
        text-shadow: 0px 0px 1px var(--text);
      }
      100% {
        scale: 0.6;
        filter: brightness(100%);
      }
    }
  }
  .seconde {
    animation: bright 4s ease-in-out infinite;

    @keyframes bright {
      0% {
        filter: brightness(200%);
        text-shadow: 0px 0px 1px var(--text);
      }
      100% {
        filter: brightness(100%);
      }
    }
  }

  .third {
    animation: bright 3s ease-in-out infinite;
    @keyframes bright {
      0% {
        filter: brightness(200%);
        text-shadow: 0px 0px 1px var(--text);
      }
      100% {
        filter: brightness(100%);
      }
    }
  }

  .fourth {
    animation: bright 2s ease-in-out infinite;

    @keyframes bright {
      0% {
        filter: brightness(200%);
        text-shadow: 0px 0px 1px var(--text);
      }
      100% {
        filter: brightness(100%);
      }
    }
  }
  .last {
    animation: bright 1s ease-in-out infinite;

    @keyframes bright {
      0% {
        filter: brightness(200%);
        text-shadow: 0px 0px 1px var(--text);
      }
      100% {
        filter: brightness(100%);
      }
    }
  }
}
